.DigitalUi-AppLogo {
    & h1.DigitalUi-Text.DigitalUi-Text-variant-h1 {
        font-family: 'Noto Serif Variable', serif;
        font-weight: bold;
        letter-spacing: 0.0005rem;
        font-size: 1rem;
        color: var(--palette-primary);
    }

    & img {
        padding-top: 0.2rem;
        width: 7.75rem;
    }
}
