.AppAlert {
    min-width: 250px;
    padding: var(--spacing-1);
    border-radius: var(--spacing-radius-1);
    border: 1px solid var(--palette-border);

    & .DigitalUi-Text {
        /*font-size: var(--font-size-small);*/
        letter-spacing: calc(var(--font-letter-spacing) * 1.25);
    }

    & .AppAlert-Title.DigitalUi-Text {
        font-weight: 500;
    }

    & .AppAlert-Message.DigitalUi-Text {
        font-weight: 300;
    }
}

.AppAlert-Action {
    cursor: pointer;
    &:hover {
        background: var(--palette-background-disabled);
    }
}