.DigitalUi-Box {
    display: flex;
    box-sizing: border-box;
    height: auto;
}

.DigitalUi-Box-fullWidth {
    width: 100%;
}

.DigitalUi-Box-fullHeight {
    height: 100%;
}

.DigitalUi-Box-resizable {
    resize: both;
    overflow: auto;
}

.DigitalUi-Box-overflow-hidden {
    overflow: hidden;
}

.DigitalUi-Box-overflow-auto {
    overflow: auto;
}

.DigitalUi-Box-overflow-scroll {
    overflow: scroll;
}

.DigitalUi-Box-wrap {
    flex-wrap: wrap;
}

.DigitalUi-Box-direction-column {
    flex-direction: column;
}

.DigitalUi-Box-direction-row {
    flex-direction: row;
}

.DigitalUi-Box-justify-center {
    justify-content: center;
}

.DigitalUi-Box-justify-end {
    justify-content: flex-end;
}

.DigitalUi-Box-justify-start {
    justify-content: flex-start;
}

.DigitalUi-Box-justify-space-between {
    justify-content: space-between;
}

.DigitalUi-Box-justify-space-around {
    justify-content: space-around;
}

.DigitalUi-Box-align-center {
    align-items: center;
}

.DigitalUi-Box-align-end {
    align-items: flex-end;
}

.DigitalUi-Box-align-start {
    align-items: flex-start;
}

.DigitalUi-Box-p-1 {
    padding: var(--spacing-1);
}

.DigitalUi-Box-p-2 {
    padding: var(--spacing-2);
}

.DigitalUi-Box-p-3 {
    padding: var(--spacing-3);
}

.DigitalUi-Box-py-1 {
    padding-top: var(--spacing-1);
    padding-bottom: var(--spacing-1);
}

.DigitalUi-Box-py-2 {
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
}

.DigitalUi-Box-py-3 {
    padding-top: var(--spacing-3);
    padding-bottom: var(--spacing-3);
}

.DigitalUi-Box-px-1 {
    padding-left: var(--spacing-1);
    padding-right: var(--spacing-1);
}

.DigitalUi-Box-px-2 {
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-2);
}

.DigitalUi-Box-px-3 {
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-3);
}

.DigitalUi-Box-pt-1 {
    padding-top: var(--spacing-1);
}

.DigitalUi-Box-pt-2 {
    padding-top: var(--spacing-2);
}

.DigitalUi-Box-pt-3 {
    padding-top: var(--spacing-3);
}

.DigitalUi-Box-pb-1 {
    padding-bottom: var(--spacing-1);
}

.DigitalUi-Box-pb-2 {
    padding-bottom: var(--spacing-2);
}

.DigitalUi-Box-pb-3 {
    padding-bottom: var(--spacing-3);
}

.DigitalUi-Box-m-1 {
    margin: var(--spacing-1);
}

.DigitalUi-Box-m-2 {
    margin: var(--spacing-2);
}

.DigitalUi-Box-m-3 {
    margin: var(--spacing-3);
}

.DigitalUi-Box-my-1 {
    margin-top: var(--spacing-1);
    margin-bottom: var(--spacing-1);
}

.DigitalUi-Box-my-2 {
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-2);
}

.DigitalUi-Box-my-3 {
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-3);
}

.DigitalUi-Box-mx-1 {
    margin-left: var(--spacing-1);
    margin-right: var(--spacing-1);
}

.DigitalUi-Box-mx-2 {
    margin-left: var(--spacing-2);
    margin-right: var(--spacing-2);
}

.DigitalUi-Box-mx-3 {
    margin-left: var(--spacing-3);
    margin-right: var(--spacing-3);
}

.DigitalUi-Box-mt-1 {
    margin-top: var(--spacing-1);
}

.DigitalUi-Box-mt-2 {
    margin-top: var(--spacing-2);
}

.DigitalUi-Box-mt-3 {
    margin-top: var(--spacing-3);
}

.DigitalUi-Box-mb-1 {
    margin-bottom: var(--spacing-1);
}

.DigitalUi-Box-mb-2 {
    margin-bottom: var(--spacing-2);
}

.DigitalUi-Box-mb-3 {
    margin-bottom: var(--spacing-3);
}

.DigitalUi-Box-gap-1 {
    gap: var(--spacing-1);
}

.DigitalUi-Box-gap-2 {
    gap: var(--spacing-2);
}

.DigitalUi-Box-gap-3 {
    gap: var(--spacing-3);
}