:root {
}

[data-theme='light'] {
    --primary-color: #ffc916;
    --primary-color-brigth: #ffd54e;
    --primary-color-faded: rgba(255, 201, 22, 0.3);
    --text-color: #444;
    --text-secondary-color: #555;
    --border-color: #ddd;
    --background-color: #fff;
    --paper-color: #fafafa;
}

[data-theme='light'] #theme-dark {
    display: none;
}

[data-theme="dark"] {
    --primary-color: #ffc916;
    --primary-color-brigth: #ffd54e;
    --primary-color-faded: rgba(255, 201, 22, 0.15);
    --text-color: #e4e4e4;
    --text-secondary-color: #a0a0a0;
    --border-color: #333333;
    --background-color: #121212;
    --paper-color: #1e1e1e;
}

[data-theme='dark'] #theme-light {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: system-ui, sans-serif;
    color: var(--text-color);
    background: var(--background-color);
}

hr {
    width: 100%;
}

.main-container {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.app-header {
    margin-top: 0;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-header h1 {
    font-size: 1.5rem;
    color: var(--text-color);
}

.app-header .app-actions {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.app-header .app-actions-button {
    background-color: var(--text-color);
    color: var(--paper-color);
    border: none;
    border-radius: 0.25rem;
    padding: .35rem .5rem;
    cursor: pointer;
    transition: 0.15s ease;
}

.app-header .app-actions-button:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

#preview {
    flex: 1;
    margin-top: 1rem;
    border: 1px dashed var(--border-color);
    border-radius: .5rem;
    background: var(--paper-color);
}

.nav-container {
    min-width: 260px;
    background: var(--paper-color);
    border-right: 1px solid var(--border-color);
    padding: 1rem;
    overflow-y: auto;
}

.nav-container details {
    margin-bottom: 1rem;
}

.nav-container summary {
    font-weight: bold;
    cursor: pointer;
    color: var(--text-secondary-color);
    margin-bottom: 0.5rem;
    user-select: none;
}

.nav-container .nav-item {
    display: block;
    width: 100%;
    text-align: left;
    padding: 6px 12px;
    margin-left: 10px;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--text-secondary-color);
    border-left: 2px solid transparent;
    font-size: 0.9rem;

    border-radius: .25rem;
    transition: background 0.15s ease;
}

.nav-container .nav-item:hover {
    color: var(--text-color);
    background: var(--primary-color-faded);
}
.nav-container .nav-item.active {
    border-left-color: var(--primary-color);
    background: var(--primary-color-faded);
    font-weight: 600;
}

.dn-stories {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.dn-story {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dn-story-title {
    font-size: 1.1rem;
}

.dn-story-json {
    min-height: 150px;
    width: 100%;
    background-color: var(--border-color);
    color: var(--primary-color);
    font-family: monospace;
    padding: .5rem;
    line-height: 1.5;
    margin: 0;
}

.dn-story-btn {
    background-color: var(--primary-color);
    font-weight: bold;
    border: none;
    border-radius: 0.25rem;
    padding: .35rem .5rem;
    cursor: pointer;
    transition: 0.15s ease;
    text-wrap: nowrap;
}

.dn-story-btn:hover {
    background-color: var(--primary-color-brigth);
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}