.DigitalUi-InputText {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: .5rem;

    & input, textarea {
        width: 100%;
        border: none;
        background-color: transparent;

        &:focus {
            outline: none;
        }
    }

    & button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: contents;
        padding: 0;
        margin: 0;
    }
}

.DigitalUi-InputText-disabled {
    & button {
        cursor: default;
    }

    & svg {
        fill: var(--palette-text-disabled);
    }
}