:root {
    --dn-spacing-1: 0.5rem;
    --dn-spacing-2: 1rem;
    --dn-spacing-3: 1.5rem;
    --dn-spacing-radius-1: 0.25rem;
    --dn-spacing-radius-2: 0.5rem;
    --dn-spacing-radius-3: 0.75rem;
    --dn-spacing-radius-100: 100%;

    --dn-font-family: 'Roboto', monospace;
    --dn-font-weight-light: 300;
    --dn-font-weight-regular: 400;
    --dn-font-weight-medium: 500;
    --dn-font-weight-bold: 700;
    --dn-font-size-xsmall: 10px;
    --dn-font-size-small: 12px;
    --dn-font-size-regular: 14px;
    --dn-font-size-medium: 16px;
    --dn-font-size-large: calc(var(--font-size-medium) * 1.25);
    --dn-font-size-xlarge: calc(var(--font-size-medium) * 1.5);
    --dn-font-letter-spacing: 0.0375rem;

    --dn-palette-primary: #004aad;
    --dn-palette-primary-light: #2c6fc7;
    --dn-palette-text: #222222;
    --dn-palette-text-white: #f0f0f0;
    --dn-palette-text-light: #2d2d2d;
    --dn-palette-text-disabled: #707070;
    --dn-palette-background: #f0f0f0;
    --dn-palette-background-disabled: #d2d2d2;
    --dn-palette-paper: #fcfcfc;
    --dn-palette-border: #707070;
    --dn-palette-border-disabled: #b2b2b2;
    --dn-palette-shadow: #00000050;
    --dn-palette-shadow-light: #00000020;
    --dn-palette-error: #b62929;
    --dn-palette-error-light: #c74545;
}

[data-theme='light'] {
    --dn-palette-primary: #004aad;
    --dn-palette-primary-light: #2c6fc7;
    --dn-palette-text: #222222;
    --dn-palette-text-white: #f0f0f0;
    --dn-palette-text-light: #2d2d2d;
    --dn-palette-text-disabled: #707070;
    --dn-palette-background: #f0f0f0;
    --dn-palette-background-disabled: #d2d2d2;
    --dn-palette-paper: #fcfcfc;
    --dn-palette-border: #707070;
    --dn-palette-border-disabled: #b2b2b2;
    --dn-palette-shadow: #00000050;
    --dn-palette-shadow-light: #00000020;
    --dn-palette-error: #b62929;
    --dn-palette-error-light: #c74545;
}

[data-theme='dark'] {
    --dn-palette-primary: #004aad;
    --dn-palette-primary-light: #2c6fc7;
    --dn-palette-text: #f0f0f0;
    --dn-palette-text-white: #f0f0f0;
    --dn-palette-text-light: #d0d0d0;
    --dn-palette-text-disabled: #707070;
    --dn-palette-background: #181818;
    --dn-palette-background-disabled: #353535;
    --dn-palette-paper: #222222;
    --dn-palette-border: #707070;
    --dn-palette-border-disabled: #b2b2b2;
    --dn-palette-shadow: #00000015;
    --dn-palette-shadow-light: #00000040;
    --dn-palette-error: #b62929;
    --dn-palette-error-light: #c74545;
}
