.DigitalUi-InputBox {
    position: relative;
}

.DigitalUi-InputBox {
    --input-padding: calc(var(--spacing-1) * 0.5) calc(var(--spacing-2) * 0.5);

    width: 250px;
    height: fit-content;
    border: 1px solid var(--palette-border);
    border-radius: var(--spacing-radius-1);
    background-color: var(--palette-paper);
    padding: var(--input-padding);

    & input, textarea, label {
        color: var(--palette-text);
    }

    & textarea {
        width: 100%;
        min-height: 100px;
        resize: vertical;
    }

    &.DigitalUi-InputBox-fullWidth {
        width: 100%;
    }

    &.DigitalUi-InputBox-disabled {
        background-color: var(--palette-background-disabled);
        border-color: var(--palette-border-disabled);

        & input {
            color: var(--palette-text-disabled);
            width: 100%;
        }
    }

    &.DigitalUi-InputBox-borderless {
        border: none;
        background-color: transparent;
    }

    &.DigitalUi-InputBox-loading {
        outline: none;

        & input,
        select {
            color: var(--palette-text-disabled);
            caret-color: transparent;
            cursor: default;
        }
    }
}

.DigitalUi-InputBox-error {
    border-color: var(--palette-error);
    outline: 1px solid var(--palette-error);
}

.DigitalUi-InputBox-selected {
    outline: 1px solid var(--palette-primary);

    &.DigitalUi-InputBox-error {
        outline-color: var(--palette-error);
    }

    &.DigitalUi-InputBox-borderless {
        outline: none;
    }
}

.DigitalUi-Input-help {
    width: 200px;
}

.DigitalUi-Input-label {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    top: -1.1rem;
    left: 0;
    gap: 4px;

    & .DigitalUi-Input-label-text {
        font-size: 0.7rem;
    }

    & .DigitalUi-Input-label-help {
        cursor: pointer;
        & svg {
            position: absolute;
            transform: scale(0.9);
            top: -0.1rem;
            fill: var(--palette-primary);
        }
    }

    & .DigitalUi-Input-label-Counter {
        position: absolute;
        right: 0.1rem;
    }
}
